/*Base template*/
h1		{font-family: Arial, Helvetica, sans-serif; color: #333333;}
h2		{color: #0064A4;}
body		{font-family: Arial,Helvetica,sans-serif; color: #333333;}
a		{text-decoration: none; color: #333333;}
.white	{color: white;}
.banner		{text-align: left; color: white; background-color: #0064A4; width: 100%; height: 4em; position: fixed; top: 0em; left: 0em; padding-left: 20%; padding-top: 2em;}
#headline	{font-size: 1.5em; font-weight: bold;}
.content  	{width: 60%; margin-left: auto; margin-right: auto; margin-top: 2em;}
.footer		{text-align: center; color: white; background-color: #0064A4; width: 100%; height: 2em; position: fixed; bottom: 0em; left: 0em; padding-top: 0.5em;}
.account_button	{position: fixed; top: 1.25em; right: 1em; background-color: white; color: #0064A4; border: none; border-radius: 2px; font-size: 1.25em; height: 2em;}
.account_button:hover	{background-color: gray;}


/*Login screen*/
.login_box	{margin-top: 50px; background-color: #0064A4; padding: 1em 1em 1em 1em; width: 22em;}
.login_box input[type="text"]	{color: #686868; display:block; font-size: 2em; margin-top: 20px; padding: 5px; width: 10em;}
input[type="submit"] {color: #686868; display:block; font-size: 2em; margin-top: 20px; padding: 5px; font-size: 1.5em;}


/*Index view*/
.question_buttons_holder	{width: 60%; margin-left: auto; margin-right: auto; text-align: center; }
.section_button	{width: 8em; height: 3em; font-size: 2em; text-align: center; margin-top: 1em; border-radius: 0.5em; color: white; background-color: #2a7eb2; line-height: 3em; margin: auto; margin-top: 20px;}
.section_button:hover	{background-color: #0064A4}


/*Question view*/
.question_block	{	width: 80%; height: 40%;
					text-align: center;
					margin: auto; margin-top: 20em;
			}
.question_text	{	display: inline-block;
					font-size: 48px;
					font-family: Arial, Helvetica, sans-serif;
					color: #0064A4;
					background-color: #F1F1F1;
					width: 40%;
					border-radius: 5px;
					text-align: center;
					vertical-align: middle;
					padding: 10px;
					margin: 5px;}
.swipe_left, .swipe_right {width: 8em; display: inline-block;vertical-align: bottom; margin: 5px;}
.testing_box	{outline: dashed 4px #0064A4; font-size: 1.5em; color: #0064A4; width: 8em; position: fixed; right: 10em; bottom: 5em; padding: 0.2em; background-color: white; border: none;}


/*MyJobs screen*/
.next_button {background-color: white;color: #0064A4; border: solid 0.2em #0064A4; padding: 0.2em; width: 15em; margin: auto;}
.next_button:hover	{color: white; background-color: #0064A4; }
.jobsholder	{ width: 80%; height: 60%; margin: auto;}
.job_thumb	{ display: inline-block; width: 10em; height: 10em; background-color: white; color: #0064A4; outline: solid 0.2em #0064A4; margin: 1em; font-size: 18px; padding: 10px;}
.testing_box:hover, .job_thumb:hover	{ background-color: gray;}
.star		{font-size: 36px; display: block; text-align: right;}

/*Single job view screen*/
.job_box	{display: inline-block; width: 25em; margin-left: auto; margin-right: auto; height: 25em; background-color: white; color: #0064A4; outline: solid 0.2em #0064A4; font-size: 18px; padding: 10px;}