body		{background-color: black;}
.content 	{width: 320px; height: 480px;
			margin: auto; margin-top: 10%;
			padding: 0em;
			background-image: radial-gradient(circle farthest-side at right bottom, #FFFFFF 0%, #0064A4 100%);
			font-family: Arial;
			font-weight: bold;
			color: #333333;
			}


.header				{text-align: center;
					padding-top: 0.5em;
					padding-bottom: 0.5em;}
.login_box			{text-align: center;}

h2.landing			{color: #FFFFFF;}
input[type="text"]	{background-color: #EEEEEE;
					padding: 1em;
					padding-left: 1em;
					font-weight: bold;
					border: none;
					font-size: 1em;
					margin-bottom: 1.5em;
					width: 75%;}

#signup_button		{padding: 1em;
					display: inline-block;
					border: none;
					font-weight: bold;
					width: 5em;}
#signup_button:hover	{background-color: #333333; color: white;}

#login_button		{padding: 1em;
					display: inline-block;
					border: none;
					font-weight: bold;
					width: 5em;}
#login_button:hover	{background-color: #333333; color: white;}

.lower_third		{width: 85%;
					margin-left: auto;
					margin-right: auto;
					border-top: 0.09em white solid;
					margin-top: 4em;
					padding-top: 0.25em;}
#connect			{font-size: 0.75em;}

.soc_media_bar img		{vertical-align: middle; width:2em; padding-right: 0.3em;}
#soc_media_spacer		{width: 2.5em; display: inline-block;}