/* Base */
body		{background-color: black; width: 320px; height: 480px; margin:auto; overflow: scroll;}
.content 	{padding: 0em;
			font-family: Arial;
			font-weight: bold;
			color: #333333;}
a 			{text-decoration: none; color: white; font-weight: normal;}


/*Login page view*/
.landing_div	{height: 480px;
				background-image: radial-gradient(circle farthest-side at right bottom, #FFFFFF 0%, #0064A4 100%);}
.login_box			{text-align: center;
					margin-top: 4em;}
h2.landing			{color: #FFFFFF; text-align: left; margin: 1em; position: relative; top: 1em; margin-bottom: 1em;}
input[type="text"]	{background-color: #EEEEEE;
					padding: 1em;
					font-weight: bold;
					border: none;
					font-size: 1em;
					margin-bottom: 1.25em;
					width: 75%;}
#signup_button		{padding: 1em;
					display: inline-block;
					border: none;
					font-weight: bold;
					width: 5em;}
#signup_button:hover	{background-color: #333333; color: white;}
#login_button		{padding: 1em;
					display: inline-block;
					border: none;
					font-weight: bold;
					width: 5em;}
#login_button:hover	{background-color: #333333; color: white;}
.lower_third		{width: 85%;
					margin-left: auto;
					margin-right: auto;
					border-top: 0.09em white solid;
					margin-top: 2.5em;}
#connect			{font-size: 0.75em;}
.soc_media_bar img		{vertical-align: middle; width:2em; padding-right: 0.3em;}
.soc_media_link			{display: inline-block; padding: 0.5em; padding-right: 0.8em;}
.soc_media_link:hover			{color: white; background-color:#333333;}
.nav_bar				{text-align: center;}
.nav_bar img 			{height: 2em; vertical-align: middle; margin-right: 0.4em;}




/*Question menu view*/
.category_menu				{margin-top: 3em; }
.question_cat_button		{background-color: #EEEEEE; 
							width: 75%; margin-left: auto; margin-right: auto; 
							padding: 1em; margin-top: 1em;}
.question_cat_button:hover	{background-color: #FD8602; color: white;}
.question_cat_number		{font-size: 1.5em; text-align: center;
							border: solid 0.1em; border-radius: 50%; width:1.2em; height:1.2em; 
							display:inline-block;}
.question_cat_text			{display:inline-block; margin-left: 0.5em;}
.question_cat_head			{vertical-align: top;}
.question_cat_subtext		{font-size: 0.8em; width: 100%;}
.lower_quarter	{background-color: white; position: fixed; top: 27em; width: 320px; }
.nav_bar		{text-align: center; padding: 0.75em;}



/* Single question view */
.question_div	{height: 480px; margin-top:1.75em;}
.question_header { color: white}
.question_box	{background-color: white;
				margin-left: 15%; margin-right: 15%; height: 70%; 
				display: inline-block;
				z-index: 1;}
.question_text 	{color: black; padding-left: 2em; padding-right: 2em; vertical-align: middle;}

#home			{height: 3em; margin: 0.75em; margin-right: 4em; vertical-align: middle;}
.progress_count	{opacity: 0.5; display: inline-block;}

.swipe_bar		{width: 320px; margin-left: auto; margin-right: auto;
				position: absolute; top: 18em;}
.left_swipe, .right_swipe	{height: 5em; width: 6em; border-radius: 50%;
							padding: 0.5em 1.25em 3em 1.25em; text-align: center; 
							color: white; background-color: black; opacity: 0.7;
							font-size: 0.8em; font-weight: normal; display: inline-block;
							margin:1em;}
.swipe_spacer	{display: inline-block; width: 2em;}
.skip_bar		{color: white; text-align: center; margin-top: 2em;}


/* Question categories */
.orange_can {background-color: #FD8602;}
.purple_want {background-color:#611EC6;}
.green_need {background-color: #74C004;}
.orange_shadow {box-shadow: 10px 15px 0px #985C1B;}
.purple_shadow {box-shadow: 10px 15px 0px #4A297C;}
.green_shadow {box-shadow: 10px 15px 0px #53791C;}


/* Matching screen */
.match_div	{background-color: #F6DC5C; color: white;
			width: 320px; position: fixed; top:1.5em; text-align: center;}
.centered_message	{margin: 8em 1em 1em 1em;}
#wait		{width: 6em;}


/* Myjobs screen */
.match_header	{text-align: left;}
#match_home		{height: 3em; margin: 0.75em; margin-bottom: 0em;}

.profile_box .section_title, .job_box .section_title	{text-align: left; 
			color: black; margin-left: 0.75em; margin-bottom: -0.75em;}
.section_title h2	{opacity: 0.4;}

.profile_content	{width: 93%; margin: 0em auto 1em auto; background-color: white; text-align: left;}
.profile_footer		{background-color: #EEEEEE; color: #3390E9; 
					margin: 0em auto 2em auto; height: 2.5em;
					line-height: 2.5em; text-align: left; padding-left: 0.75em;}
.profile_content h3	{color: black; display: inline-block;}
#myskills		{font-size: 0.75em;}
.skill_list		{color: black; margin: 1em;}
.skill_list	ul	{margin: 0.1em;}
.skill_list li  {margin-left: -3.5em; font-size: 0.5em;}
.skill_list li span	{font-size: 2em; vertical-align: middle;}
#retake a		{font-weight: bold; color: #3390E9; margin-left: 1em;}
#user			{width: 3em; margin: 0.5em; display: inline-block; vertical-align: top;}

.job_box h2, .job_box_options	{display: inline-block;}
.job_box_options	{margin-left: 2em;}
#sort	{opacity: 0.75;}
#search_glass	{width: 1.2em; vertical-align: bottom; margin-left: 1em;}
.job_listing			{width: 100%; text-align: left;
						background-color: white; height: 4em; margin-bottom: 0.1em;}
.job_title {color: #3390E9; font-size: 1.2em; line-height: 3em; margin-left: 0.75em; 
				width: 80%; display: inline-block;}

#star	{color: black; opacity: 0.7; display:inline-block; font-size: 2em; vertical-align: middle}









