<!DOCTYPE html>

<html>
    <head>
    	<meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>There's a Job for That</title>
        <!-- link to bootstrap -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.css') }}">
		<link rel="stylesheet" type=text/css href="{{ url_for('static', filename='phone_responsive.css') }}">
		<link rel="stylesheet" type=text/css href="{{ url_for('static', filename='responsive.css') }}">
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    </head>

	<body>
		<div class="content">
			{% block content %}{% endblock %}	
		</div>
		<!-- link to bootstrap.js -->
		<script src="{{ url_for('static', filename='bootstrap.js') }}"></script>
	</body>

</html>
