{% extends 'base.html' %}
{% block content %}

<div class="orange_can question_div">
	<div class="question_header">
		<img id="home" src="{{ url_for('static', filename='Home.svg') }}">
		<div class="progress_count">1 of 10</div>
	</div>

	<div class="question_box orange_shadow">
		<div class="left_swipe"><a href="{{ url_for('i_can') }}">Swipe left for NO</a></div>
		<div class="question_text"><h1>{{question}}</h1></div>
		<div class="right_swipe"> <a href="{{ url_for('i_can') }}">Swipe right for YES</a></div>
	</div>

	<div class="skip_bar"><a href="{{ url_for('i_can') }}">Skip to next question</a></div>
</div>

{% endblock %}	
