{% extends 'base.html' %}
{% block content %}

<div class="header">
	<h1>There's a Job for That.</h1>

	<p>A tool to guide job seekers, in plain language, to the jobs or careers that match their skills, goals, and needs.</p>
</div>

<p> Ready to find a job that's right for you? Pick a section to start telling us about yourself.</p>
<br><br>
<a href="{{ url_for('i_can') }}"><div class="section_button">I can...</div></a>
<a href="{{ url_for('i_want') }}"><div class="section_button">I want...</div></a>
<a href="{{ url_for('i_need') }}"><div class="section_button">I need...</div></a>


{% endblock %}	
