{% extends 'base.html' %}
{% block content %}



<br><br><br><br><br><br>
<h2> Tell us about yourself.</h2>
<div class="question_buttons_holder">
<a href="{{ url_for('i_can') }}"><div class="section_button">I can...</div></a>
<a href="{{ url_for('i_want') }}"><div class="section_button">I want...</div></a>
<a href="{{ url_for('i_need') }}"><div class="section_button">I need...</div></a>
<button class="testing_box" onClick="location.href='{{ url_for('skills') }}'">Testers: skip to jobs list.</button>

</div>

{% endblock %}	
