{% extends 'base.html' %}
{% block content %}

<div class="orange_can job_div">
	<div class="job_header">
		<img id="home" src="{{ url_for('static', filename='Home.svg') }}" onClick="location.href='{{ url_for('index') }}'">
	</div>

	<div class="single_job_box">	
		<div class="question_text">
			<div class="job_image"><h2>{{job.title}}</h2></div>


		</div>
	</div>


	<div class="job_swipe_bar">
		<div class="job_left_swipe">
			<img src="{{ url_for('static', filename='leftswipe.png') }}">
			<div class="swipe_text">Swipe left to find training</div>
		</div>
		<div class="job_swipe_spacer"></div>
		<div class="job_right_swipe">
			<img src="{{ url_for('static', filename='rightswipe.png') }}">
			<div class="swipe_text">Swipe right to find open jobs</div>
		</div>
	</div>

</div>

{% endblock %}	
