{% extends 'base.html' %}
{% block content %}

<div class="job_div">
	<div class="job_header">
		<img id="home" src="{{ url_for('static', filename='Home.svg') }}" onClick="location.href='{{ url_for('index') }}'">
	</div>

	<div class="single_job_box">	
		<div class="question_text">
			<span class="single_job_star">&#9734</span>
			<h2 class="single_job_title">{{job.title}} </h2>
			<img class="jobpic" src="{{ url_for('static', filename='mechanic.png') }}">
		</div>
		<div class="job_links_holder">
			<p class="">Find Training Near You</p>
			<p class="">Find Open Jobs for {{job.title}}s</p>
		</div>
	</div>
	<p class="back_link" onClick="location.href='{{ url_for('myjobs') }}'">Back to matching jobs</p>
</div>

{% endblock %}	
