{% extends 'base.html' %}
{% block content %}

<div class="landing_div">
<div class="header">
	<h2 class="landing">There's a Job For That</h2>
</div>


<div class="login_box">
	<form action="/index">
		<input type="text" placeholder="Your name">	
		<input type="text" placeholder="Your email">
	</form>

	<div id="signup_button" onClick="location.href='{{ url_for('start') }}'">Sign Up</div>
	<div id="login_button" onClick="location.href='{{ url_for('start') }}'">Log In</div>
</div>

<div class="lower_third">
	<p><span id="connect">OR, CONNECT USING:</span></p>
	<div class="soc_media_bar">
		<div class="soc_media_link"><img src="{{url_for('static', filename="Facebook.svg")}}">Facebook</div>
		<div class="soc_media_link"><img src="{{url_for('static', filename="LinkedIn.svg")}}">LinkedIn</div>
	</div>
</div>
</div>
{% endblock %}	
