{% extends 'base.html' %}
{% block content %}


<div class="row text-center">
	<div class="col-xs-12">
		<br><br><h1 class="text-white">There's a Job For That</h1>
		<br>
		<h4 class="text-white">A simple way to find jobs that match your skills.</h4>
		<br><br><br>
	</div>
</div>

<div class="row"><div></div></div>

<div class="row text-center">
	<form role="form" action="" method="post" name="name">
		{{ form.hidden_tag() }}
		<div class="form-group">

			<br>{{form.username(placeholder="What's your name?", class="text-center input-lg")}}
			
			<br><br><br><button type="submit" class="btn btn-primary btn-lg">Let's get started!</button>
	    </div>
	</form>

</div>

{% endblock %}	
