{% extends 'base_jobs.html' %}
{% block content %}

<div class="row">
	<div class="col-xs-12">
		<h3 class="text-white text-center">We found {{job_count}} jobs for you!</h3>
	</div>
</div>

<br>
<div class="row">	
	<div class="col-xs-10 col-xs-offset-1 job_holder">
	
	{% for job in jobs %}

	    <div class="row">	
			<div class="col-xs-12 panel">

					<h3><strong>{{job.title}}</h3>
					<h4 class="text-primary">{{job.location}}</strong></h4><p>Posted {{job.date_posted}}{% if job.posting_source %} by {{job.posting_source}}{% endif %}</p>

					<p>{{job.description}}</p>
					
					<p><div onClick='location.href="{{job.posting_url}}"' class="btn btn-large btn-primary">Read full posting</div></p>
	
		    </div>
		</div>
	{% endfor %}

	</div>
</div>


{% endblock %}	
