{% extends 'question_base.html' %}
{% block content %}

<div class="row">
	<div class="col-xs-12">
		<h3 class="text-white text-center">Let's talk about your skills.</h3>
	</div>
</div>

<div class="question_box orange_shadow col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
	<div class="row">
			<div class="col-xs-12 text-center">
				<br><h1>{{question}}</h1>
			</div>
	</div>
</div>

<div class="row swipe_bar">
	<div>
		<div class="col-xs-6 col-lg-1 col-lg-offset-4 col-md-1 col-md-offset-4 text-left">
			<div class="swipe_circle img-circle" onClick='location.href="{{ url_for('question_view', swipe=0) }}"'>
					<div class="swipe_text"><br><h1>No</h1></div>
			</div>
		</div>
		<div class="col-xs-6 col-lg-1 col-lg-offset-2 col-md-offset-2 col-md-1 text-right">
			<div class="swipe_circle img-circle" onClick='location.href="{{ url_for('question_view', swipe=1) }}"'>
				    <div class="swipe_text"><br><h1>Yes</h1></div>
			</div>
		</div>
    </div>
</div>

<script type="text/javascript">


     $('.swipe_bar').click(function(){

       $('.swipe_bar').hide();

     });

</script>

{% endblock %}	
