{% extends 'base.html' %}
{% block content %}

<br><br><br><br><br><div class="jobsholder">

<div class="message"><h2> You're done answering questions!


<p>We're about to look at a list of potential occupations that could be great for you.</p>

<p>We've also turned your answers into a list of skills and qualities that you can use any time you want. Click the "My Account" button at the top of the screen to see it.</p>

<div class="next_button" onClick="location.href='{{ url_for('myjobs') }}'">Let's look at your job options.</div>

</h2>
</div>






{% endblock %}	
